<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HBNB</title>
	</head>
	<body>
		<h1>
			{% if state_id %}State: {{ state_id.name }}{% elif states %} States {%
			endif %}
		</h1>
		{% if state_id %}
		<h3>Cities:</h3>
		{% endif %}
		<ul>
			{% if states %} {% for state in states.values()|sort(attribute="name")
			%}
			<li>{{ state.id }}: <b>{{ state.name }}</b></li>
			{% endfor %} {% elif state_id %} {% for city in
			state_id.cities|sort(attribute="name") %}
			<li>{{ city.id }}: <b>{{ city.name }}</b></li>
			{% endfor %} {% endif %}
		</ul>
	</body>
</html>
